header {
    height: 70px;
    background-color: #1E1E1E;
    align-content: center;
    position: relative;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    width: 200px;
    align-content: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-transform: uppercase;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover:not(.active, .activeII) {
    background-color: red;
    font: bold;
}

.active {
    background-color: #04AA6D;
}

.activeII {
    background-color: orange;
}

.menu {
    font: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
}

.menu a:hover {
    cursor: pointer;
}

.menuBarras {
    width: 30px;
}

#bt_menu {
    display: none;
}

label[for="bt_menu"] {
    padding: 5px;
    background-color: black;
    color: white;
    font-family: "Arial";
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
}

input[type=text] {
    width: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-image: url(/assets/img/search.png);
    background-size: 20px 20px;
    background-position: 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 10px 10px 10px 35px;
    transition: width 1s;
}